html {
  @extend %font_family;
  scroll-behavior: smooth;
  font-size: 100%;

  body {
    user-select: none;
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
  }

  @media only screen and (max-width: 768px) {
    html {
      font-size: 75%;
    }
  }

  @media only screen and (max-width: 320px) {
    html {
      font-size: 62.5%;
    }
  }
}
