html {
  @extend %font_family;
  scroll-behavior: smooth;
  font-size: 100%;

  body {
    user-select: none;
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
  }

  body.overflow {
    overflow: hidden;
  }
}
