@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&family=Source+Sans+Pro&display=swap");

%font_family {
  font-family: "Montserrat", sans-serif;
}

%nav_menu {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-transform: uppercase;
  color: #ffffff;
}

%header_slide_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  line-height: 6.125rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

%header_slide_subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

%project_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 3.375rem;
  text-transform: uppercase;
  text-align: center;
  color: #2c4058;
}

%project_subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.688rem;
  text-transform: uppercase;
  color: #2c4058;
}

%project_paragraph {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: left;
  color: #2c4058;
}

%news_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 3.375rem;
  text-transform: uppercase;
  color: #ffffff;
}

%news_slide_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.688rem;
  text-transform: uppercase;
  color: #2c4058;
}

%news_slide_paragraph {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.563rem;
  color: #2c4058;
}

%news_slide_name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-transform: uppercase;
  color: #2c4058;
}

%news_slide_date {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.063rem;
  color: #55b7ff;
}

%gallery_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 3.375rem;
  text-transform: uppercase;
  color: #2c4058;
}

%button {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.063rem;
  text-transform: uppercase;
  color: #000000;
}

%button_hover {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.063rem;
  color: #ffffff;
}

%form_and_button {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.688rem;
  color: #000000;
}

%form_button_hover {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.688rem;
  color: #ffffff;
}

%form_placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.688rem;
  color: #4b5562;
  opacity: 0.5;
}
