.projects {
  margin: 6.25rem 0 0 0;
  padding: 7.5rem 0 0 0;
  width: 100%;
  min-height: 84.25rem;

  &__line {
    width: 6.25rem;
  }

  &__title {
    @extend %project_title;
  }

  .project {
    padding: 0 13rem 0 0;
    display: flex;
    flex-wrap: nowrap;

    height: 33rem;
    border: 1px solid #000;

    &__image {
      flex-basis: 60%;
      border: 1px solid #000;
    }

    &__info {
      flex-basis: 40%;
      border: 1px solid #000;
    }
  }

  .project:last-child {
    padding: 0 0 0 13rem;
  }
}
